<div class="facets mb3 flex flex-wrap ">
    {% if result.facets.doc_type %}
        <select class="facet bn pa2 mr3 mw5" name="doc_type" form="search" up-autosubmit>
            <option value="*">Beliebiges Dokument</option>
            {% for field in result.facets.doc_type %}
                <option {% if doc_type == field.0 %}selected{% endif %} value="{{ field.0 }}">{{ field.0 }} ({{ field.1 }})</option>
            {% endfor %}
        </select>
    {% endif %}

    {% if result.facets.organization %}
        <select class="facet bn pa2 mr3 mw5" name="organization" form="search" up-autosubmit>
            <option value="*">Beliebiges Gremium</option>
            {% for field in result.facets.organization %}
                <option {% if organization == field.0 %}selected{% endif %} value="{{ field.0 }}">{{ field.0 }} ({{ field.1 }})</option>
            {% endfor %}
        </select>
    {% endif %}

    <select class="facet bn pa2 mr3 mw5" name="sort" form="search" up-autosubmit>
        <option {% if sort == "relevance" %}selected{% endif %} value="relevance">Sortierung: Relevanz</option>
        <option {% if sort == "date" %}selected{% endif %} value="date">Sortierung: Datum</option>
    </select>
</div>