{% extends "base.html" %}

{% block content %}
    <script>up.form.config.submitSelectors.push(['form'])</script>
    <div class="w-100">
        <div class="mw9 center">
            <form class="ma3 w-60 p3 debug-grid" action="{% url 'search' %}" method="get" id="search" up-target=".searchresults">
                {% include "components/input.html" %}
            </form>
        </div>
    </div>
    <hr />
    <div class="w-100">
        <div class="mw9 center">
            <div class="w-60">
                {% include "search/results.html" %}
            </div>
        </div>
    </div>
{% endblock %}
