<article class="searchresult mt3 f5 pb3" style="line-height: 1.6">
    <div class="searchresult-head">
        <a class="f6 grow no-underline br-pill ba ph2 mb2 dib black mr2" href="{{ document.download }}">Runterladen ↓</a>
        <a href="{{ document.link }}">
            {{ document.link }}
            <span class="f4 nowrap blue title fw4">{{ document.content.strip|slice:"0:100" }}...</span>
        </a>
    </div>
    {% if "hl" in document %}
        <div>
            {{ document.hl.strip|safe }}
        </div>
    {% endif %}
</article>