<div class="searchresult">
    {% if "consultation_id" in document %}
        <small><a href="https://sessionnet.krz.de/griesheim/bi/vo0050.asp?__kvonr={{ document.consultation_id }}">
            https://sessionnet.krz.de/griesheim/bi/vo0050.asp?__kvonr={{ document.consultation_id }}
        </a></small><br/>
        {{ document.consultation_name }}: {{ document.consultation_topic }}
    {% else %}
        <small><a href="https://sessionnet.krz.de/griesheim/bi/getfile.asp?id={{ document.document_id }}">
            https://sessionnet.krz.de/griesheim/bi/getfile.asp?id={{ document.document_id }}
        </a></small><br/>
        <span class="nowrap">{{ document.content.strip|slice:"0:100" }}...</span>
    {% endif %}<br>
    {% if "hl" in document %}
        <mark><small>{{ document.hl.strip|safe }}</small></mark>
    {% endif %}
    <hr>
</div>