<ul class="autocomplete-list br bl bb bw1" {% if suggestions|length == 0 %}hidden{% endif %}>
    {% for suggestion in suggestions %}
        <li class="autocomplete-item f5 pa2"><a href="/search?query={{ suggestion }}" style="display: block; color: inherit; text-decoration: none">{{ suggestion }}</a></li>
    {% endfor %}
</ul>

<script>
    up.on('mouseover', '.autocomplete-item', (event, element) => {
        setSelectedElement(element)
    })

    function setSelectedElement(element) {
        let currentSelection = up.element.get('.selected')
        if (currentSelection)
            up.element.toggleClass(currentSelection, 'selected', false)
        up.element.toggleClass(element, 'selected', true)
    }
</script>
