localhost {

  log default {
    format console
  }

  handle_path /static/* {
    root * /static
    file_server
  }

  @parliscope {
    not path /static/*
  }

  reverse_proxy @parliscope {
    to parliscope:8000
  }
}
