div.searchresult-head > a {
    text-decoration: none;
    color: inherit
}

div.searchresult-head > a > span.title:hover {
    text-decoration: underline;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
