{% extends "base.html" %}
{% block title %} - Warum gibt es das?{% endblock %}
{% block content %}
    <div class="w-60-l w-90 center">
    <h2>Was ist das hier? Warum gibt es das?</h2>
        <p>
            Es ist Aufgabe der Kommune, Informationen ihren Bürger:innen frei und möglichst einfach zugänglich zu machen.
            Das <a href="https://sessionnet.krz.de/griesheim/bi/info.asp">"Bürgerinfoportal"</a> der Stadt Griesheim erfüllt
            diese Anforderung leider nicht: Informationen sind nur umständlich zu erreichen, eine funktionale
            Suche fehlt.
        </p>
        <p>
            Eine Alternative bietet der offene <a href="https://oparl.org/">OParl</a> Standard, der Parlamentsinformationen
            frei und transparent verfügbar macht. Diesen möchte die Stadt Griesheim leider nicht anbieten; Und das, obwohl
            der Dienstleister des städtischen Bürgerinfoportals es unterstützt.<br>
            Warum? - Zu teuer.
        </p>
        <p>
            Diese Seite möchte daher eine Alternative zur Recherche bieten:
            Dazu wurden alle öffentlich zugänglichen Dokumente des Bürgerinfoportals der Stadt Griesheim
            analysiert und indexiert. Sie stehen im Volltext durchsuchbar zur Verfügung.
        </p>
        <a href="/">Zurück</a>
    </div>

{% endblock %}
