{% extends "base.html" %}
{% block title %} - About{% endblock %}
{% block content %}
    <div class="w-60-l w-90 center">
    <h2>Was ist das hier? Warum gibt es das?</h2>
        <p>
            Aus unserer Sicht ist es Aufgabe der Kommune, Informationen ihren Bürgerinnen frei und möglichst einfach zugänglich zu machen.
            Das <a href="https://sessionnet.krz.de/griesheim/bi/info.asp">"Bürgerinfoportal"</a> der Stadt erfüllt das leider nicht:
            Informationen sind nur umständlich zu erreichen, eine <strong>funktionale</strong> Suche fehlt.
        </p>
        <p>
            Eine Alternative bietet der offene <a href="https://oparl.org/">OParl</a> Standard, der Parlamentsinformationen frei und transparent verfügbar macht.
            Diesen möchte die Stadt Griesheim leider nicht anbieten; Und das, obwohl der Dienstleister des städtischen Bürgerinfoportals es unterstützt.<br>
            Warum? - Zu teuer.
        </p>
        <p>
            Diese Seite möchte daher eine Alternative zur Recherche bieten:
            Dazu wurden alle öffentlich zugänglichen Dokumente des Bürgerinfoportals der Stadt Griesheim
            analysiert und indexiert. Sie stehen im Volltext durchsuchbar zur Verfügung.
        </p>
    </div>

{% endblock %}


