<!DOCTYPE html>
<html lang="de">
    <head>
        {% load static %}
        <title>{% block pretitle %}{% endblock %}Griesheim Transparent{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Griesheimer Politik durchsuchbar machen: Volltextsuche für das Ratsinfosystem der Stadt Griesheimer (DaDi).">
        <meta name="revisit" content="30 days">
        <meta property="og:title" content="Griesheim Transparent"/>
        <meta property="og:description" content="Griesheim Transparent: Volltext Suche für Dokumente aus dem Griesheimer Ratsinfosystem."/>
        <meta property="og:site_name" content="Griesheim Transparent" />
        <meta property="og:image" content="{% static 'sharepic.jpg' %}" />
        <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/unpoly.js' %}"></script>
        <script>
            {% if DEBUG %}
                up.log.disable()
            {% endif %}
            up.fragment.config.autoHistoryTargets.push(".searchresults-container")
        </script>
    </head>
    <body class="sans-serif bg-light-gray">
        <div class="page-container">
            <div class="content-wrap">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
            {% include 'components/footer.html' %}
        </div>
    </body>
</html>
