<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>Griesheim Transparent</title>
    <meta name="description"
          content="Diese Seite erlaubt es, Dokumente wie Anträge und Niederschriften, die
durch das Griesheimer Ratsinformationssystem (RIS) zur Verfügung gestellt werden,
zu durchsuchen." />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/unpoly.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/picocss/pico.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/unpoly.js' %}"></script>
</head>
<body>