{% include "header.html" %}
<script>up.form.config.submitSelectors.push(['form'])</script>
<main class="container">
    <h1>Griesheim, aber transparent.</h1>
    <form action="{% url 'search' %}" method="get" up-target=".searchresults">
        <input
            type="search"
            name="query"
            placeholder="Suche nach Dokumenten, Inhalten, ..."
            class="form-control"
        />
    </form>
    {% if result %}
        {% include "search/search.html" %}
    {% endif %}
</main>
{% include "footer.html" %}
