{% extends "base.html" %}

{% block content %}
    <script>up.form.config.submitSelectors.push(['form'])</script>
    <div class="vh-75 w-100 dt">
        <div class="dtc v-mid">
            <h1 class="tc">Griesheim, aber transparent.</h1>
            <form class="w-30 center" action="{% url 'search' %}" method="get" id="search">
                <input class="w-100 f5 pa2 br-pill"
                       type="text"
                       name="query"
                       placeholder="Suche nach Dokumenten, Inhalten, ..."
                       autocomplete="off"
                       required
                       autofocus
                />
            </form>
            <div class="mt3 w-30 center">Suche in <strong class="f4">{{ num_docs }}</strong> Dokumenten: z.B. <a href="/search?query=Griesheimer%20Anger"><em>Griesheimer Anger</em></a> oder <a href="/search?query=AG%2F2022%2F0063"><em>AG/2022/0063</em></a></div>
        </div>
    </div>
{% endblock %}
