{% extends "base.html" %}

{% block content %}
    <div class="ba bw1 pa2">
    <h2>Was ist das hier? Warum gibt es das?</h2>
        <p>
            Aufgabe der Kommune ist es, ihren Bürgerinnen Informationen frei und möglichst einfach zugänglich zu machen.
            Das <a href="https://sessionnet.krz.de/griesheim/bi/info.asp">"Bürgerinfoportal"</a> der Stadt erfüllt das leider nicht:
            Informationen sind nur umständlich zu erreichen, eine <strong>funktionale</strong> Suche fehlt.
        </p>
        <p>
            Eine Alternative bietet der offene <a href="https://oparl.org/">OParl</a> Standard, der Parlamentsinformationen frei und transparent verfügbar macht.
            Diesen möchte die Stadt Griesheim leider nicht anbieten; Und das, obwohl der Dienstleister des städtischen Bürgerinfoportals dies anbietet.<br>
            Warum? - Zu teuer.
        </p>
        <p>
            Diese Seite möchte daher eine alternative bieten: Dazu wurden alle öffentlich zugänglichen Dokumente analysiert,
            indexiert und stehen hier im Volltext durchsuchbar zur Verfügung.
        </p>
    </div>

{% endblock %}


